kdrx.xlsx
price.xlsx
europe.xlsx
stats.xlsx
~$europe.xlsx
crypto.xlsx
~$kdrx.xlsx
~$price.xlsx
lotto.py
test.py
grade.xlsx
backup.txt
monthly_data.xlsx
test2.py
year.py
year.xlsx
template.txt
prepost.xlsx
stock_stats.xlsx
