*.xlsx
*.xlsb
lotto.py
test.py
backup.txt
test2.py
year.py
template.txt
.gitignore
screening/material.txt
screening/healthcare.xlsb
screening/consumer.xlsb
screening/indus_util.xlsb
stats.txt
stats.txt
